/* @import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800"); */
* {
    box-sizing: border-box;
    margin: 0;
  }
  
  html, body {
    margin: 0;
    /* background: white; */
    font-family: 'Montserrat', helvetica, arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  
  .link {
    display: block;
    text-align: center;
    color: #777;
    text-decoration: none;
    padding: 10px;
  }
  .movie_card {
    position: relative;
    display: block;
    width: 400px;
    height: 200px;
    margin: 20px ;
    /* overflow: hidden; */
    border-radius: 10px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    box-shadow: 0px 0px 120px -25px rgba(0, 0, 0, 0.5);
  }
  .movie_card:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    box-shadow: 0px 0px 80px -25px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .movie_card .info_section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
  }
  .movie_card .info_section .movie_header {
    position: relative;
    padding: 25px;
    height: 40%;
  }
  .movie_card .info_section .movie_header > h1 {
    color: rgb(135, 106, 151);
    font-weight: 400;
  }
  .movie_card .info_section .movie_header > h4 {
    color: #555;
    font-weight: 400;
  }
  .movie_card .info_section .movie_header .minutes {
    display: inline-block;
    margin-top: 15px;
    color: #555;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.05);
  }
  .movie_card .info_section .movie_header .type {
    display: inline-block;
    color: #959595;
    margin-left: 10px;
  }
  .movie_card .info_section .movie_header .locandina {
    position: relative;
    float: left;
    margin-right: 20px;
    height: 120px;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
  }
  .movie_card .info_section .movie_desc {
    padding: 25px;
    height: 50%;
  }
  .movie_card .info_section .movie_desc .description {
    color: black;
    padding-bottom: 10px;
  }
  .movie_card .info_section .movie_social {
    height: 10%;
    padding-left: 15px;
    margin-top: -20px;
    cursor: pointer;
    color: rgb(135, 106, 151);
  }
  .movie_card .info_section .movie_social ul {
    list-style: none;
    padding-top: 60px;
  }
  .movie_card .info_section .movie_social ul li {
    display: inline-block;
    color: rgba(0, 0, 0, 0.3);
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
    margin: 0 10px;
  }
  .movie_card .info_section .movie_social ul li:hover {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    color: rgba(0, 0, 0, 0.7);
  }
  .movie_card .info_section .movie_social ul li i {
    font-size: 19px;
    cursor: pointer;
  }
  .movie_card .blur_back {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    right: 0;
    background-size: cover;
    border-radius: 11px;
  }
  
  @media screen and (min-width: 768px) {
    .movie_header {
      width: 65%;
    }
  
    .movie_desc {
      width: 50%;
    }
  
    .info_section {
      background: -webkit-gradient(linear, left top, right top, color-stop(50%, #e5e6e6), to(transparent));
      background: linear-gradient(to right, #e5e6e6 50%, transparent 100%);
    }
  
    .blur_back {
      width: 80%;
      background-position: -100% 10% !important;
    }
  }
  @media screen and (max-width: 768px) {
    .movie_card {
      width: 95%;
      margin: 70px auto;
      min-height: 350px;
      height: auto;
    }
  
    .blur_back {
      width: 100%;
      background-position: 50% 50% !important;
    }
  
    .movie_header {
      width: 100%;
      margin-top: 85px;
    }
  
    .movie_desc {
      width: 100%;
    }
  
    .info_section {
      background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #e5e6e6), to(transparent));
      background: linear-gradient(to top, #e5e6e6 50%, transparent 100%);
      display: inline-grid;
    }
  }
  .bright_back {
    background: url("../../images/Services.jpg");
  }
  
  .allServices{
    display: grid;
    grid-template-columns: auto auto auto;
    /* overflow: scroll; */
    top: 13vh;
        background-color: transparent;
  }
  .priceForm{
    padding-top: 46px;
    padding-left: 13px;
  }
  .priceForm > input:nth-child(1) {
    width: 56px;
    height: 18px;
    position: relative;
    font-size: 0.5em;
    background: linear-gradient(21deg, #fff, #fbfffe);
    padding: 3px;
    display: inline-block;
    border-radius: 9999em;
    }
    
    .priceForm > button:nth-child(2) {
      width: 56px;
      height: 18px;
      position: relative;
      font-size: 0.5em;
      background: linear-gradient(21deg, #fff, #fbfffe);
      padding: 3px;
      display: inline-block;
      border-radius: 9999em;
      }

    .priceForm input::-webkit-outer-spin-button,
    .priceForm input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .priceForm input[type=number] {
      -moz-appearance: textfield; }
  .Price {
    padding-top: 8px;
    font-family: "Asap", sans-serif;
  }
  .Price > p {
    color: rgb(52, 51, 53);
  }
  .Price >button{
    font-family: "Asap", sans-serif;
    cursor: pointer;
    color: rgb(135, 106, 151);
    border: 0;
  }
.buttonLable{
  width: 104px;
    height: 18px;
    position: relative;
    font-size: 0.9em;
    background: linear-gradient(21deg, #fff, #fbfffe);
    padding: 3px;
    display: inline-block;
    border-radius: 9999em;
    color: rgb(135, 106, 151);
    }

  .movie_desc >button{
    font-family: "Asap", sans-serif;
    cursor: pointer;
    color: rgb(135, 106, 151);
    border: 10;
  }

.allServices {
  position: fixed;
  left: 7px;
  top: 27vh;
}

.price > form:nth-child(1) > input:nth-child(1) {
  margin-top: 60px;

  }
.movie_card .info_section .movie_desc {
  /* padding: 25px; */
  /* height: 50%; */
  height: 22%;
}



div.movie_card:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
  padding-right: 13px;
}




div.movie_card:nth-child(6) > div:nth-child(1) > div:nth-child(2) > button:nth-child(2) {
  margin-left: 24px;
}


div.movie_card:nth-child(6) > div:nth-child(1) > div:nth-child(2) > button:nth-child(2) {
  margin-left: 24px;
}


.Price {
  margin-left: 24px;
}