.inputContainer {
	/* Firefox */ }
	.inputContainer .input {
	  position: relative;
	  font-size: 0.5em;
	  background: linear-gradient(21deg, #10abff, #1beabd);
	  padding: 3px;
	  display: inline-block;
	  border-radius: 9999em; }
	  .inputContainer .input *:not(span) {
		position: relative;
		display: inherit;
		border-radius: inherit;
		margin: 0;
		border: none;
		outline: none;
		padding: 0 .325em;
		z-index: 1; }
		.inputContainer .input *:not(span):focus + span {
		  opacity: 1;
		  transform: scale(1); }
	  .inputContainer .input span {
		transform: scale(0.993, 0.94);
		transition: transform .5s, opacity .25s;
		opacity: 0;
		position: absolute;
		z-index: 0;
		margin: 4px;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		border-radius: inherit;
		pointer-events: none;
		box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 30px #1beabd,  -3px 3px 30px #10abff; }
	.inputContainer html {
	  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	  line-height: 1.5;
	  font-size: 1em; }
	.inputContainer body {
	  text-align: center;
	  display: flex;
	  align-items: center;
	  justify-content: center; }
	.inputContainer html, .inputContainer body {
	  height: 100%; }
	.inputContainer input {
	  font-family: inherit;
	  line-height: inherit;
	  color: #2e3750;
	  min-width: 12em; }
	.inputContainer ::placeholder {
	  color: #cbd0d5; }
	.inputContainer html::after {
	  content: '';
	  background: linear-gradient(21deg, #10abff, #1beabd);
	  height: 3px;
	  width: 100%;
	  position: absolute;
	  left: 0;
	  top: 0; }
	.inputContainer input::-webkit-outer-spin-button,
	.inputContainer input::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0; }
	.inputContainer input[type=number] {
	  -moz-appearance: textfield; }
  


	  dive.inputContainer:nth-child(1) > p:nth-child(1) > span:nth-child(1) {
		letter-spacing: 0.125em;
		font-size: 0.7em;
		line-height: 1.2;
	  }
	  
	  /* Inline #5 | http://localhost:3000/ListOfServices */
	  
	  .movie_card .info_section .movie_social {
		/* color: rgb(135, 106, 151); */
		color: rgb(255, 255, 255);
	  }
	  
	  /* Inline #6 | http://localhost:3000/ListOfServices */
	  
	  .inputContainer .input {
		/* background: linear-gradient(21deg, #10abff, #1beabd); */
		background: linear-gradient(21deg, #001933, #0188ff);
	  }